################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VillaApi-backend/.vs
/VillaApi-backend/obj/
/VillaApi-backend/bin/
/.gitignore
/VillaApi-backend/.vs/VillaApi/DesignTimeBuild/.dtbcache.v2
/VillaApi-backend/Migrations
/VillaApi-backend/Properties/PublishProfiles
/VillaApi-backend/obj/Debug/net9.0/ref/VillaApi.dll
/VillaApi-backend/obj/Debug/net9.0/refint/VillaApi.dll
